.logo-handle {
    font-family: 'Comfortaa', cursive !important;
    letter-spacing: 2px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background: #3EB003;
}

.margin-min-50 {
    margin-left: -50px;
    margin-right: -50px;
}

.plus-button {
    background: #3EB003;
    border-radius:100px;
    padding: 10px;
}

#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3EB003;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3EB003;
}
