html {
    color: white;
}
.logo-handle {
    font-family: 'Comfortaa', cursive !important;
    letter-spacing: 2px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background: #3EB003;
}

.margin-min-50 {
    margin-left: -50px;
    margin-right: -50px;
}

.go-button {
    background: #3EB003;
    border-radius:100px;
    padding: 10px;
    margin-bottom: 85px;
}

.plus-button {
    background: #3EB003;
    border-radius:100px;
    padding: 10px;
    margin-bottom: 50px;
    margin-right: 20px;
}

#menu {
    background: transparent;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 80px;
    font-family: 'Open Sans', sans-serif;
    padding:20px 5px 20px 20px;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3EB003;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3EB003;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
    margin-top: 20px;
  }
  
.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #3EB003;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #3EB003;
}

input:focus + .slider {
box-shadow: 0 0 1px #3EB003;
}

input:checked + .slider:before {
-webkit-transform: translateX(46px);
-ms-transform: translateX(46px);
transform: translateX(46px);
}

.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .on {
    display: none;
  }
  
  .on,
  .off {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 25%;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 5px;
  }
  
  .on {
    top: 8px;
  }
  
  .off {
    left: auto;
    right: -5px;
    top: 8px;
  }
  
  input:checked+ .slider .on {
    display: block;
  }
  
  input:checked + .slider .off {
    display: none;
  }
 .pill {
     border-radius: 50px;
 }

 /* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
  }
  
  .mapboxgl-popup-content {
    font: 10px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    /* padding: 10px; */
    width: 180px;
  }
  
  /* .mapboxgl-popup-content-wrapper {
    padding: 1%;
  } */
  
  .mapboxgl-popup-content h3 {
    /* background: #91c949;
    color: #fff; */
    margin: 0;
    display: block;
    border-radius: 3px 3px 0 0;
    font-weight: 500;
  }
  
  .mapboxgl-popup-content h4 {
    margin: 0;
    display: block;
    font-weight: 400;
  }
  
  .mapboxgl-popup-content div {
    padding: 10px;
  }
  
  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }
  
  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }

.category {
    background-color: #404040;
    margin: 10px;
    min-height: 100px;
}

.green-card {
    background-color: #3eb003;
    padding: 30px 10px;
    border-radius: 400px;
}

.green-card > h3 {
    font-size:60px;
}

.sep {
    border-bottom: 1px black;
}

.bg-red {
    background-color: #EF2917;
}

.bg-yellow {
    background-color: #F9F913;
}

.bg-green{
    background-color: #3eb003;
}