<!DOCTYPE html>
<html>
    <head>
        <title>Handle.Bike</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
        
        <!-- Compressed CSS -->
<!--         
        <link rel="stylesheet" href="css/foundation.css">
        <link rel="stylesheet" href="css/app.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
 
    </head>
    <body>            
        
        <!-- <div class="uk-offcanvas-content off-canvas-wrapper">      -->
        <div class="uk-offcanvas-content">            
            <nav class="uk-navbar-container uk-margin uk-light" uk-navbar>

                <div class="nav-overlay uk-navbar-center">
                    <a class="uk-navbar-item uk-logo logo-handle" href="#">handle</a> 
                            
                </div>

                <div class="nav-overlay uk-navbar-left">
                    <div class= "uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-push"></div> 
                </div>
            
                <div class="nav-overlay uk-navbar-right">
                    <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                </div>

                <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                    <div class="uk-navbar-item uk-width-expand">
                        <form class="uk-search uk-search-navbar uk-width-1-1">
                            <input class="uk-search-input uk-autocomplete uk-form" type="search" id="search" placeholder="Where are you going?" autofocus >
                        </form>
                    </div>
                    <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                </div>
            
            </nav>
            <!-- <button class="uk-button uk-button-default" data-toggle="offCanvasBottom">Bottom</button>   -->
            <div id='map'></div>
            
            
            
            <div id="offcanvas-push" uk-offcanvas="mode: push; overlay: true" >
                
                <div class="uk-offcanvas-bar uk-flex uk-flex-column" class="uk-light">
                    <div class="uk-margin-auto-vertical">
                        <div class="uk-grid-small uk-flex-middle uk-margin-small-bottom" uk-grid>
                            <div class="uk-width-auto">
                                <div uk-icon="icon: user; ratio: 5"></div>
                            </div>
                            <div class="uk-width-expand">
                                <h2 class="uk-margin-small-bottom">Hi, User!</h2>
                                <div class="uk-grid-collapse uk-child-width-expand@s uk-text-left" uk-grid>
                                    <div>
                                        <div class="uk-text-large">510</div>
                                        <div class="uk-text-small">miles</div>
                                    </div>
                                    <div>
                                        <div class="uk-text-large">21</div>
                                        <div class="uk-text-small">reports</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <ul class="uk-nav uk-nav-primary uk-nav-left">
                            <li class="uk-nav-divider margin-min-50"></li>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Contributions</a></li>
                            <li><a href="#">Places</a></li>
                            <li class="uk-nav-divider margin-min-50"></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: settings"></span>Settings</a></li>
                            <li class="uk-nav-divider margin-min-50"></li>
                            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: commenting"></span>Feedback</a></li>
                        </ul>
                    </div>        
                </div>
            </div>

            <!-- <div class="off-canvas position-bottom" id="offCanvasBottom" data-off-canvas>

            </div> -->
        
        </div>
        <div class="uk-position-fixed uk-position-bottom-right uk-overlay uk-margin-large plus-button uk-margin-large-right">
            <a href="#modal-full" uk-icon="icon: plus; ratio: 2" uk-toggle></a>
        </div>

        <div id="menu" class="uk-position-fixed uk-position-upper-right uk-overlay uk-margin-large">
            <label class="switch">
                <input type="checkbox" id="citiSlider">
                <div class="slider round">
                    <span class="on uk-text-middle">bikes</span>
                    <span class="off uk-text-middle">docks</span>
                </div>
            </label>
        </div>

        <div id="modal-full" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog">
                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                <div class="uk-grid-collapse uk-flex-middle" uk-grid>
                    <div class="uk-margin-auto uk-margin-auto-vertical uk-margin uk-text-center" uk-height-viewport>
                        <div class="uk-flex uk-height-viewport uk-margin uk-text-center">
                            <div class="uk-margin-auto uk-margin-auto-vertical">
                                <div class="uk-child-width-1-2 uk-grid-match" uk-grid style="padding:30px;">
                                        <div>
                                            <div class="uk-card uk-card-primary uk-card-body uk-light green-card">
                                                <h3 class="uk-card-title"><i class="fas fa-exclamation-triangle"></i></h3>
                                                <!-- <p>construction</p> -->
                                            </div>
                                        </div>
                                        <div>
                                            <div class="uk-card uk-card-primary uk-card-body uk-light green-card">
                                                <h3 class="uk-card-title"><i class="fas fa-car-alt"></i></h3>
                                                <!-- <p>double parked</p> -->
                                            </div>
                                        </div>
                                        <div>
                                            <div class="uk-card uk-card-primary  uk-card-body uk-light green-card">
                                                <h3 class="uk-card-title"><i class="fas fa-road"></i></h3>
                                                <!-- <p>object on road</p> -->
                                            </div>
                                        </div>
                                        <div>
                                                <a href="input.html" class="uk-card uk-card-primary uk-card-body uk-light green-card">
                                                        <h3 class="uk-card-title"><i class="fas fa-ellipsis-h"></i></i></h3>

                                                </a>
                                        </div>
                                        <div>
                                                <div class="uk-card uk-card-primary  uk-card-body uk-light green-card">
                                                <h3 class="uk-card-title"><i class="fas fa-bicycle"></i></h3>
                                     </div>
                                        </div>
                                        <div>
                                                <div class="uk-card uk-card-primary uk-card-body uk-light green-card">
                                                <h3 class="uk-card-title"><i class="fas fa-comment"></i></h3>
                                            </div>
                                        </div>
                                    </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        <script>
            $(document).ready(function(){
                $('form').on('submit', (event)=>{
                    event.preventDefault();
                    window.location.href = '/route.html';
                });

                var switchStatus = false;            
            });

                
        </script>
        <!-- <script src="js/jquery.js"></script>
        <script src="js/foundation.js"></script> -->
        <script src="js/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    </body>
</html>


